* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --cyan: hsl(179, 62%, 43%);
    --light-cyan: hsl(179, 62%, 48%);
    --bright-yellow: hsl(71, 73%, 54%);

    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
}

#app {
    background-color: var(--light-gray);
    padding: 4.0rem 1.6rem;
    height: 100vh;
}

h3 {
    font-weight: 700;
}

.card {
    padding: 2.0rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.community {
    background-color: var(--white);

    border-top-right-radius: .8rem;
    border-top-left-radius: .8rem;
}

.community h3 {
    color: var(--cyan);
}

.community :nth-child(2) {
    color: var(--bright-yellow);
    font-weight: 700;
}

.community :nth-child(3) {
    color: var(--grayish-blue);
    line-height: 160%;
    font-size: 1.5rem;
}

.subscription {
    background-color: var(--cyan);
}

.subscription h3 {
    color: var(--light-gray);
    letter-spacing: .1rem;
}

.subscription .price {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.subscription p {
    color: var(--light-gray);
}

.price :nth-child(1) {
    color: var(--light-gray);
    font-weight: 700;
    font-size: 3.2rem;
}

.price :nth-child(2) {
    color: var(--light-gray);
}

.btn-sign {
    background-color: var(--bright-yellow);
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    border: 1px solid var(--bright-yellow);
    border-radius: .8rem;
    padding: 1.6rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 1.2rem;
}

.footer {
    background-color: var(--light-cyan);

    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
}

.footer h3 {
    color: var(--light-gray);
}

.footer li {
    list-style: none;
    color: var(--light-gray);
    line-height: 140%;
}