* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --cyan: hsl(179, 62%, 43%);
    --light-cyan: hsl(179, 62%, 48%);
    --bright-yellow: hsl(71, 73%, 54%);

    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-glue: hsl(218, 22%, 67%);
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
}

#app {
    background-color: var(--light-gray);
    padding: 4.0rem 1.6rem;
    height: 100vh;
}

h3 {
    font-weight: 700;
}

.card {
    padding: 2.0rem;
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
}

.community {
    background-color: var(--white);
}

.community h3 {
    color: var(--cyan);
}

.community :nth-child(2) {
    color: var(--bright-yellow);
    font-weight: 700;
}

.community :nth-child(3) {
    color: var(--grayish-glue);
    line-height: 160%;
    font-size: 1.5rem;
}

.subscription {
    background-color: var(--cyan);
}

.subscription .price {
    display: flex;
    gap: 2.0rem;
}

.footer {
    background-color: var(--light-cyan);
}

.footer li {
    list-style: none;
}